<div class="container bcontent">
  <h2>Vacancies Management</h2>
  <hr />
  <div class="card" style="width: 80%;">
    <% vacancies.forEach(async (Vacancy)=> { %>
      <div class="row no-gutters">
        <div class="col-7">
          <div class="card-body">
            <h5 class="card-title">
              <%= Vacancy.title %>
            </h5>
            <p class="card-text">
              <%=Vacancy.description%>
            </p>
          </div>
        </div>
        <div class="col-5">
          <div class="card-body ">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a href="/editVacancy/<%=Vacancy._id %>" class="btn btn-primary">Edit Vacancy</a>
              <button type="button"  data-id="<%=Vacancy._id %>" class="btn btn-danger VDelete">Delete Vacancy</a>
            </div>
          </div>
        </div>
      </div>
      <% })%>
  </div> 
</div>