<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, 
                   initial-scale=1,
                   shrink-to-fit=no" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <% if( typeof jsPath !=='undefined' ){ %>

    <script defer src="<%= jsPath %>" type='text/javascript'></script>
    <% } %>
      <title>JobsPath</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>

    <%- include(page) %>
</body>

</html>